.header-section{
    display: flex;
}

.header-section{
    flex-direction: column;
}

.header-section{
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url("images/pexels-joyston-judah-933054.jpg");
    background-position: center;
    background-size: cover;
    height:37vh;
    margin-top: -31px;
}

.parent-header-search-bar-search-icon-container{
    width: 40%;
    height: 10vh;

}

.header-search-bar{
    font-family: "Montserrat";
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 50%;
    padding: 2px 2px 4px 32px;
    margin-top: 10px;
}

.header-bar-search-icon{
    position: relative;
    top:56%;
    font-size: .86rem;
    left: 1.7%;
    color: gray;
}